.card-body{
    padding: 0%;
}
.bg:hover{
    box-shadow: 2px 2px 10px #404040 !important;
}
.abc{
    background-color: #66b3ff;
    height: 2px;width:55px;
}
.btn:hover{
    background-color: #0066ff !important;
    color: white;
    border-radius: 5px !important;
}
.btn{
    border: 1px solid #f5d9bf !important; 
    background-color: #f2f2f2 !important;
    box-shadow: 0px 2px 0px  #cecefb !important;
}
i:hover{
    font-size: 40px;
    color:#404040 !important;
}
h6:hover{
    cursor: pointer;
    text-decoration: underline;
}
.fa-instagram-square{
    color: transparent;
    font-size: 35px;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
}

.fa-chrome {
    font-size: 34px;
    background: 
      linear-gradient(to bottom left, transparent 49%,#ea4335 50%) 105% 0%  /37% 30%,
      linear-gradient(to bottom right,transparent 49%,#fbbc05 50%) 64% 100% /35% 43%,
      radial-gradient(farthest-side, #4285f4 46%,transparent 47%),
      linear-gradient( 47deg,        #34a853 42%,transparent 43%),
      linear-gradient(-72deg,        #fbbc05 42%,transparent 43%),
      linear-gradient(-199deg,       #ea4335 42%,transparent 43%);
    background-repeat:no-repeat;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
  